.createPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  z-index: 100;
}


.createPost input {
  height: 40px;
  border: unset;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1.5px solid hsl(210, 10%, 75%);
  padding-left: 5px;
}

.createPost input:focus {
  outline: none;
}

.createPost button {
  height: 35px;
  border: none;
  color: white;
  background-color: hsl(210, 12%, 15%);
}

.createPost textarea {
  height: 150px;
  border-color: hsl(210, 10%, 75%);
  padding: 5px;
  font-size: 18px;
}

.createPost textarea:focus {
  outline: none;
}

.createPost button:hover {
  background-color: hsl(210, 12%, 25%);
}

.createPost button:active {
  background-color: hsl(210, 12%, 15%);
}
// .submit-btn {
//   // background-color: hsl(210, 70%, 60%);
//   padding: 5px 10px;
//   font-size: 16px;
//   border: none;
//   border-radius: 4px;
//   color: white;
// }

.input-title {
  display: block;
}
.text-box {
  display: block;
  margin-top: .5rem;
}

.submit-btn {
  display: block;
}