.footer {
  position: sticky;    
}

.footer-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer-container {
  position:absolute;
left:0;
bottom:0;
right:0;
}