//variables
$color-White: #ffffff;
$color-Black: #000000;
$color-CoolGrey1: #f5f7fa;
$color-CoolGrey2: #e4e7eb;
$color-CoolGrey3: #cbd2d9;
$color-CoolGrey4: #9aa5b1;
$color-CoolGrey5: #7b8794;
$color-CoolGrey6: #616e7c;
$color-CoolGrey9: #323f4b;

$color-LightBlue1: #ebf8ff;
$color-LightBlue2: #d1eefc;
$color-LightBlue3: #a7d8f0;
$color-LightBlue4: #7cc1e4;
$color-LightBlue5: #55aad4;
$color-LightBlue6: #3994c1;
$color-LightBlue7: #2d83ae;
$color-LightBlue8: #1d6f98;
$color-LightBlue9: #166086;

$color-Green1: #e3f9e5;
$color-Green5: #57ae5b;
$color-Green6: #3f9142;
$color-Green8: #207227;

$color-Red1: #ffe3e3;
$color-Red6: #e12d39;
$color-Red8: #ab091e;

$color-yellow1: #fff3c4;
$color-yellow8: #cb6e17;
//end - variables

$higlight-color: $color-LightBlue7;
$higlight-color-dark: $color-LightBlue9;
$box-shadow: 0 1px 3px 0 rgba(27, 36, 50, 0.15);
//common
$border-color-light: $color-CoolGrey1;
$border-color: $color-CoolGrey2;
$border-color-dark: $color-CoolGrey4;
$error-color: $color-Red8;
$danger-color: $color-Red6;
$container-bg-color: $color-CoolGrey1;
$container-bg-dark-color: $color-CoolGrey2;
$container-bg-light-color: $color-White;
$container-bg-higlight-color: $color-LightBlue7;
$container-higlight-color: $color-White;
$selected-bg-color: $color-LightBlue2;
$tag-bg-color: $color-LightBlue1;
//end - common

//title
$title-color: $color-CoolGrey9;
$title-color-lite: $color-CoolGrey2;
//end - title

// header
$header-fontsize: 11px;
$header-height: 58px;
$header-font-color: $color-CoolGrey6;
$header-active: $color-LightBlue8;
// end - header

//page
$page-fontsize: 24px;
$page-container: 1400px;
$page-padding: 24px;
//end - page

//button
$button-color: $color-LightBlue6;
$button-color-hover: $color-LightBlue5;
$button-color-active: $color-LightBlue8;
$button-font-color: $color-White;
$button-frame-less-font-color: $color-LightBlue7;
$button-frame-less-bg-color-hover: $color-LightBlue1;
$button-outline-border-color: $color-CoolGrey3;
$button-outline-textbox-font-color: $color-CoolGrey6;
$button-color-higlight: $color-Green5;
$button-color-higlight-hover: $color-Green6;
$button-color-higlight-active: $color-Green8;

//tag
$tag-white-blue-outline: $color-LightBlue3;
//end -button

//text box
$textbox-border-color: $color-CoolGrey2;
$textbox-font-color: $color-CoolGrey6;
$textbox-placeholder-color: $color-CoolGrey6;
//end - text box

//link
$link-color: $color-LightBlue6;
$link-color-hover: $color-LightBlue5;
$link-color-active: $color-LightBlue8;
//end - link

//tabs
$tabs-color: $color-CoolGrey5;
$tabs-active-color: $color-LightBlue8;

//end -tabs
$icon-color: $color-CoolGrey5;
$icon-color-hover: $color-LightBlue5;
$icon-color-active: $color-LightBlue8;
//icon
//end - icon

//Option Menu
$option-color: $color-CoolGrey5;
// End - Option Menu

//table
$table-header-bg-color: $color-LightBlue1;
//end - table

//media
$media-mobile: 546px;
$media-tab: 768px;
$media-lap: 992px;
$media-desktop: 1024px;
$custom-media: 1400px;

//end media
